---
const { title, description, link, lastUpdated } = Astro.props;
---

<a href={link} class="block card p-6 hover:shadow-lg transition-shadow duration-300 focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-offset-2 focus:ring-blue-500" role="button" aria-label={`Read more about ${title}`}>
    <h4 class="text-xl mb-2">   <!-- Continue using h4 for card title -->
        {title}
    </h4>
    <p>{description}</p>
    {lastUpdated && <p class="text-sm text-gray-500 mt-2">Last updated: <span>{lastUpdated}</span></p>}
</a>
